DATABASE_URL="postgresql://user:password@localhost:5432/tttgmb"
NEXTAUTH_SECRET="your-secret-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:3000/api/gsc/callback"
GA_CLIENT_ID="your-ga-client-id"
GA_CLIENT_SECRET="your-ga-client-secret"
GA_REDIRECT_URI="http://localhost:3000/api/ga/callback"


# Invoiless
INVOILESS_API_KEY=your_invoiless_api_key_here
NEXT_PUBLIC_INVOILESS_WEBHOOK_URL=https://yourdomain.com/api/webhooks/invoiless
